<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vict.vict_new.inquiry.dao.InquiryDao">
    <select id="getTest" resultType="String" parameterType="com.vict.vict_new.inquiry.dto.InquiryDto">
        SELECT sysdate FROM dual
    </select>

    <select id="selectInquiryList" parameterType="int" resultType="com.vict.vict_new.inquiry.dto.InquiryDto">
        SELECT
        INQUIRY_SEQ
        ,INQUIRY_TYPE
        ,TITLE
        ,IQ.REGT_DATE
        ,IQ.USE_YN
        ,QUESTION_YN
        FROM TB_INQUIRY IQ,TB_USER TU
        WHERE 1=1
        AND IQ.USE_YN = 'Y'
        AND TU.USE_YN = 'Y'
        AND TU.USER_KEY = '1'
        ORDER BY IQ.REGT_DATE DESC

    </select>
    <select id="selectInquiry" parameterType="int" resultType="com.vict.vict_new.inquiry.dto.InquiryDto">
        SELECT INQUIRY_SEQ
        ,INQUIRY_TYPE
        ,TITLE
        ,CONTENT
        ,IQ.REGT_DATE
        ,IQ.LAST_UPDATE_TIME
        ,USER_KEY
        ,IQ.USE_YN
        ,QUESTION_YN
        ,QUESTION_DATE
        FROM TB_INQUIRY IQ,TB_USER TU
        WHERE 1=1
        AND IQ.USE_YN = 'Y'
        AND TU.USE_YN = 'Y'
        AND TU.USER_KEY = '1'
    </select>
    <insert id="insertInquiry" parameterType="com.vict.vict_new.inquiry.dto.InquiryDto">
        INSERT INTO TB_INQUIRY(
         INQUIRY_SEQ
        ,INQUIRY_TYPE
        ,TITLE
        ,CONTENT
        ,REGT_DATE
        ,LAST_UPDATE_TIME
        ,DELETE_DATE
        ,USE_YN
        ,QUESTION_YN
        ,QUESTION_DATE
        ) VALUES(
         #{inquirySeq}
        ,#{inquiryType}
        ,#{title}
        ,#{content}
        ,sysdate
        ,sysdate
        ,''
        ,'Y'
        ,'N'
        ,''
        )
    </insert>

    <update id="updateInquiry" parameterType="com.vict.vict_new.inquiry.dto.InquiryDto" >
        UPDATE TB_INQUIRY
        SET TITLE    = 'TEST22'
        ,CONTENT     = '내용임돠'
        ,LAST_UPDATE_TIME = SYSDATE
        WHERE  1=1
        AND INQUIRY_SEQ = 1

    </update>

    <select id="getInquirySeq" resultType="int">
        SELECT
            NVL(MAX(INQUIRY_SEQ),0) AS SEQ
        FROM TB_INQUIRY
    </select>
</mapper>
