<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vict.vict_new.join.dao.JoinDao">
    <select id="getEmailExist" parameterType="string" resultType="int">
        SELECT NVL(
            (SELECT 1
                FROM TB_USER
            WHERE USE_YN = 'Y'
                AND EMAIL=  #{email}
                AND ROWNUM = 1
            ), 0) AS EXIST
        FROM dual
    </select>

    <select id="getPhoneExist" parameterType="string" resultType="int">
        SELECT NVL(
        (SELECT 1
        FROM TB_USER
        WHERE USE_YN = 'Y'
        AND PHONE_NUM=  #{phoneNum}
        AND ROWNUM = 1
        ), 0) AS EXIST
        FROM dual
    </select>

    <insert id="insertUserManage" parameterType="com.vict.vict_new.join.dto.UserManage">
        INSERT INTO TB_USER_MANAGE(
        USER_KEY
        ,ROLE
        ,MARKETING_AGREED
        )
        VALUES(
         #{userKey}
        ,#{role}
        ,#{marketingAgreed}
        )

    </insert>

    <insert id="insertUser" parameterType="com.vict.vict_new.join.dto.User" >
        INSERT INTO VICT.TB_USER
        (
        USER_KEY
        ,EMAIL
        ,NICKNAME
        ,PASSWORD
        ,USER_NAME
        ,BIRTHDAY
        ,GENDER
        ,PHONE_NUM
        ,BLOG_URL
        ,REGT_DATE
        ,END_DATE
        ,LAST_LOGIN_TIME
        ,LAST_UPDATE_TIME
        ,USE_YN
        ,LOGIN_TYPE
        )
        VALUES(
         #{userKey}
        ,#{email}
        ,#{nickname}
        ,#{password}
        ,''
        ,''
        ,''
        ,#{phoneNum}
        ,''
        ,sysdate
        ,''
        ,''
        ,sysdate
        , 'Y'
        ,#{loginType}
        )

    </insert>
</mapper>