<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{../css/join.css}" rel="stylesheet" />
<script src="../js/joinForm.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.20.0/dist/jquery.validate.min.js"></script>
<title>회원가입</title>
</head>
<body>
<div class="joinLayout">
    <div class="joinInnerLayout">
        <h2>회원가입</h2>
        <form id="boardForm" method="post" th:object="${form}">
            <input type="hidden" name="socialKey" value=""/>
            <input type="hidden" name="loginType" value="1"/>
            <input type="hidden" name="useYn" value="Y"/>
            <input type="hidden" name="dupFlag" value="false"/>
            <input type="hidden" name="emailOrg" value=""/>
            <div class="mb-3 row-flex" >
                <div class="" style="width:100%">
                    <input type="text" class="form-control" th:onChange="isEmpty()" th:field="*{email}" placeholder="example@example.com" required />
                </div>
                <select name="inquiryType" id="inquiryType" class="form-control form-select ">
                    <option value="0" selected="">직접 임력</option>
                    <option th:value="1">naver.com</option>
                    <option th:value="2">daum.net</option>
                    <option th:value="3">hanmail.net</option>
                    <option th:value="3">gmail.com</option>
                </select>
            </div>
                <div class="mb-3">
                    <input type="button" class="btn_send_code"th:onClick="sendEmailCode()" value="인증번호 보내기"/>
                <div class="mb-3">
<!--                    <label id="email-exist-error" class="error">이미 사용중인 이메일입니다.</label>-->
                </div>
                    <input type="text" class="form-control" rows="3" th:onChange="isEmpty()" th:field="*{nickname}" placeholder="닉네임" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" rows="3" name="pwd" th:onChange="isEmpty()" id="pwd" placeholder="비밀번호" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" rows="3" name="pwd_2" th:onChange="isEmpty()"id="pwd_2"  placeholder="비밀번호 확인" required>
                </div>
                <input class="form-check-input" type="checkbox" id="terms" th:onChange="isEmpty()">
                    <span>서비스 이용약관에 동의합니다.(필수)</span>
                    <span><a href="#">내용 보기</a></span>
                <button class="joinBtn btn btn-outline-primary">가입하기</button>
            </form>
        </div>
    </div>
</body>
</html>