<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REVO 약관</title>
  <link th:href="@{../css/terms.css}" rel="stylesheet">
</head>
<body>

<div class="container">
  <header>
    <div class="logo">VICT</div>
  </header>

  <main>
    <h2>이벤트 및 혜택안내 개인정보 수집 • 이용동의</h2>
    <p>• 수집목적: 이벤트 및 캠페인 추천 등 혜택 안내</p>
    <ul>
      <li><span class="list-item-title">수집항목:</span> 닉네임, 휴대폰 번호, 기기정보, 이메일정보</li>
      <li><span class="list-item-title">보유기간:</span> 동의철회 또는 회원탈퇴 시 즉시파기</li>
    </ul>
    <p>동의를 거부하셔도 서비스는 이용이 가능하나, 각종 이벤트 및 캠페인 추천 정보는 제공받을 수 없습니다.</p>

    <div class="separator"></div>

    <h2>이벤트 및 혜택안내 수신동의</h2>
    <p>레뷰는 회원님이 수집 및 이용에 동의한 개인정보를 이용하여 SMS, 이메일, 푸시알림을 통해 개인 맞춤형 광고성 메시지를 전송할 수 있습니다.</p>
    <ul>
      <li><span class="list-item-title">수신가능시간:</span> 오전 8시 ~ 오후 9시</li>
      <li><span class="list-item-title">수신여부변경방법:</span> 각 서비스 페이지 내 광고성정보 수신 여부 선택<br>
        - 푸시메시지의 경우, 앱접속 > 알림설정에서 변경
      </li>
    </ul>
  </main>

  <footer class="footer">
    <div>
      <a href="#">이용약관</a> |
      <a href="#">개인정보처리방침</a> |
      <span>1544-9851</span>
    </div>
    <div>
      © REVU Corp.
    </div>
  </footer>

</div>

</body>
</html>